<div>
<h1 style="margin-top: 5rem;">search user</h1>
{{#if error}}<span>{{error}}</span> {{/if}}
<form class="form-inline" method="POST" action="/user/search">
  <div class="form-group"  >
    <input class="form-control" type="text" name="id" placeholder="search users by ID">

  </div>
  <input class="btn btn-primary" type="submit" value="search">
</form>
</div>